<div class="container">
  <div class="pregunta">
    <label for="correo">Correo Electronico:</label>
    <input
      type="text"
      id="correo"
      placeholder={{placeholder}}
      [(ngModel)]="correo"
      #correoT="ngModel"
      (focus)="this.placeholder=''"
      (blur)="this.placeholder='Escribir Correo Electronico'"
      required
      pattern="^[a-z]+[a-z0-9._-]+@[a-z]+\.[a-z.]{2,5}$"
    >
    <button (click)="verificar(correoT)">Verificar</button>
  </div>
  <small class="rojo" *ngIf="noValido">El correo no es valido</small>
  <small class="verde" *ngIf="condicion">Correo Valido</small>

</div>