.container {
  width: 400px;
  margin: 10px auto;
}

.pregunta {
  display: flex;
  justify-content: space-between;
}

label, input, button {
  font-size: 16px;
}

.rojo {
  color: red;
}

.verde {
  color: green;
}